$cerulean: #00ADEE;
$earls-green: #BED23C;
$gray: #808080;
$lighten-darken: rgba(0,0,0,0.5);
$wild-sand: #F4F4F4;
$white: #FFF;

.background-wild-sand {
  background-color: $wild-sand;
}

.background-white {
  background-color: $white;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}