.book-cover {
  margin-right: 40px;
  max-height: 368px;
  max-width: 261px;
  height: 100%;
  width: 100%;
}

.content {
  max-width: 1366px;
  width: 100%;
}

.field {
  font-size: 19px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.field-description {
  font-size: 19px;
}

.spaced-top {
  padding-top: 25px;
}

.title {
  font-size: 32px;
  margin-bottom: 40px;
}
