.field {
  font-size: 19px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.field-description {
  font-size: 19px;
}

.content {
  height: 768px;
  max-height: 100%;
  max-width: 100%;
  padding: 176px 183px;
  width: 1366px;
}

.spaced-top {
  padding-top: 25px;
}

.title {
  font-size: 32px;
  margin-bottom: 40px;
}
