@import 'colors';

$book-cover-content-width: 935px;
$body-padding-top-for-back: 40px;
$body-padding-top-for-book: 176px - $body-padding-top-for-back;

.back {
  display: flex;
  font-size: 20px;

  &:before {
    content: url(./images/back-arrow.png);
    margin-right: 15px;
  }
}

.back-width {
  max-width: $book-cover-content-width;
  width: 100%;
}

.badge {
  position: absolute;
  right: 15px;
  top: -15px;
  transform: rotate(15deg);
  width: 94px;
}

.book-cover {
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: 300px;
  padding-left: 30px;
}

.book-cover-content {
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: $book-cover-content-width;
  width: 100%;
}

.book-cover-image {
  margin-right: 40px;
  width: 261px;
}

.book-cover-image-little {
  width: 142px;
}

.book-details {
  flex-grow: 1;
}

.book-information-content {
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
}

.border-bottom-earls-green {
  border-bottom: 4px solid $earls-green;
}

.border-top-cerulean {
  border-top: 6px solid $cerulean;
}

.field {
  font-size: 19px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.field-description {
  font-size: 19px;
}

.field-description-little {
  font-size: 14px;
}

.little-spaced-top {
  margin-top: 10px;
}

.logout {
  margin-left: auto;
}

.margin-spaced-top {
  margin-top: 40px;
}

.navbar-components {
  max-width: $book-cover-content-width;
  width: 100%;
}

.padding-top-for-back {
  padding-top: $body-padding-top-for-back;
}

.padding-top-for-book {
  padding-top: $body-padding-top-for-book;
}

.separated-right {
  margin-right: 40px;
}

.spaced-top {
  padding-top: 25px;
}

.subtitle {
  font-size: 16px;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.wolox-logo-image {
  width: 212px;
}