@import 'colors';
@import 'zindex';

$navbar-height: 70px;

.all-screen {
  height: 100vh;
  width: 100vw;
}

.bold {
  font-weight: bold;
}

.bordered {
  border: 1px solid;
}

.box-shadow {
  box-shadow: 4px 4px 10px 0 $lighten-darken;
}

.column {
  display: flex;
  flex-direction: column;

  &.vertically-space-between {
    justify-content: space-between;
  }

  &.horizontally-center {
    align-items: center;
  }
}
.element-to-center {
  align-self: center;
}

.element-to-end {
  align-self: flex-end;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.input-text {
  border-radius: 5px;
  background-color: $white;
  height: 32px;
}

.navbar {
  height: 100%;
  max-height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: map-get($zindex, navbar);
}

.navbar-padding-top {
  padding-top: $navbar-height + 30px;
}

.position-relative {
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;

  &.horizontally-to-end {
    justify-content: flex-end;
  }

  &.horizontally-center {
    justify-content: center;
  }

  &.vertically-center {
    align-items: center;
  }
}

.separated-border-bottom {
  padding-bottom: 16px;
}