@import '../../../scss/colors';

$login-main-component-width: 835px;
$navbar-height: 70px;

.logout {
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
}

.navbar {
  border-top: 8px solid $cerulean;
  box-shadow: 4px 4px 10px 0 $lighten-darken;
  height: 100%;
  max-height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-components {
  max-width: $login-main-component-width;
  width: 100%;
}

.wolox-logo-image {
  width: 212px;
}
