@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/zindex';

.logout {
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
}

.navbar {
  border-top: 8px solid $cerulean;
  box-shadow: 4px 4px 10px 0 $lighten-darken;
  height: 100%;
  left: 0;
  max-height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: map-get($zindex, navbar);
}

.navbar-components {
  max-width: 835px;
  width: 100%;
}

.wolox-logo-image {
  width: 212px;
}
