@import '../../../scss/colors';

.author {
  color: $gray;
  font-size: 14px;
}

.container {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $lighten-darken;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: 300px;
  padding: 30px 30px 25px;
  width: 198px;

  &:hover {
    transform: scale(1.1);
  }
}

.title {
  color: $black;
  font-size: 16px;
  font-weight: 700;
}

.wolox-book-cover-image {
  width: 142px;
}
